/* Main Div Styling */

.mainDiv {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    /* Padding around the buttons */
    background: linear-gradient(135deg, #58a537, #94b3c8);
   padding-left: 50%;
   
}

.mainDiv a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    color: white;
    text-align: center;
   
}

/* Button Styling */
.mainDiv button {
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    
}



/* Button Hover Effect */
.mainDiv button:hover {
    background-color: #218838;
    /* Darker green on hover */
    color: #ffffff;
    /* Keep the text white on hover */
}



/* Active Link Styling for the active button */
.mainDiv .active-link {
    background-color: #218838;
    /* Dark green for active button */
    color: #ffffff;
    /* White text color */
}