/* Main Div Styling */

.mainDiv {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    /* Padding around the buttons */
    background: linear-gradient(135deg, #7b81f9, #94b3c8);
    padding-left: 50%;


}

.mainDiv a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    /* Remove underline */
    color: white;
    text-align: center;

}

/* Button Styling */
.mainDiv button {
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    border-radius: 5px;

}



/* Button Hover Effect */
.mainDiv button:hover {
    background-color: #218838;
    /* Darker green on hover */
    color: #ffffff;
    /* Keep the text white on hover */
}



/* Active Link Styling for the active button */
.mainDiv .active-link {
    background-color: #218838;
    /* Dark green for active button */
    color: #ffffff;
    /* White text color */
}





@media only screen and (min-device-width: 0px) and (max-width: 320px) {
    .mainDiv {
        gap: 3px;
        padding: 1px 0;
               background: linear-gradient(135deg, #7b81f9, #94b3c8);
        align-items: center;
               justify-content: center;
               padding-left: 5%;
    }

    .mainDiv a {
        font-size: 10%;
        font-weight: bold;
        text-decoration: none;
        color: white;
        text-align: center;

    }

    .mainDiv button {
        border: none;
        padding: 5px 6px;
        /*near button white circle padding */
        font-size: 50%;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
}





@media only screen and (min-device-width: 321px) and (max-width: 376px) {
    .mainDiv {
        gap: 3px;
        padding: 1px 0;
        background: linear-gradient(135deg, #7b81f9, #94b3c8);
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .mainDiv a {
        font-size: 10%;
        font-weight: bold;
        text-decoration: none;
        color: white;
        text-align: center;

    }

    .mainDiv button {
        border: none;
        padding: 5px 6px;
        /*near button white circle padding */
        font-size: 5%;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
}


@media only screen and (min-device-width: 377px) and (max-width: 426px) {
    .mainDiv {
        gap: 3px;
        padding: 1px 0;
        background: linear-gradient(135deg, #7b81f9, #94b3c8);
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .mainDiv a {
        font-size: 10%;
        font-weight: bold;
        text-decoration: none;
        color: white;
        text-align: center;

    }

    .mainDiv button {
        border: none;
        padding: 5px 6px;
        /*near button white circle padding */
        font-size: 5%;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
}


@media only screen and (min-device-width: 327px) and (max-width:769px) {
    .mainDiv {
        gap: 7px;
        padding: 5px 0;
        background: linear-gradient(135deg, #7b81f9, #94b3c8);
        align-items: center;
        justify-content: center;
        padding: 5px;
        
    }

    .mainDiv a {
        font-size: 15%;
        font-weight: bold;
        text-decoration: none;
        color: white;
        text-align: center;

    }

    .mainDiv button {
        border: none;
        padding: 5px 6px;
        /*near button white circle padding */
        font-size: 0.6rem;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
}

