<html>
<body>
  <div class="technical">
  <h1>Technical Skills</h1>
  <ul>
    <li><strong>Core Java:</strong> Array, Datatypes, String, Collections Framework, Map, OOPs, Exception Handling.</li>
    <li><strong>Advanced Java:</strong> Spring, Spring Boot.</li>
    <li><strong>Java 8:</strong> Stream, FunctionalInterface, Lambda Expression.</li>
    <li><strong>Database:</strong> SQL, Oracle, H2db, JDBC.</li>
    <li><strong>API Testing:</strong> Postman, Insomnia.</li>
    <li><strong>frontend:</strong> HTML, CSS.</li>
  </ul>
</div>
</body>
</html>